<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.tank.repository.FileUploadMapper" >
    <insert id="insert" parameterType="FileUpload" useGeneratedKeys="true" keyProperty="id">
        insert into file_upload(`name`, `path`,`type`, `create_time`)
        values(#{name}, #{path}, #{type}, #{create_time})
    </insert>
    <insert id="update" parameterType="FileUpload">
        update file_upload set name = #{name},path = #{path},type = #{type}, update_time=now()  where id=#{id}
    </insert>
    <select id="findList" resultType="FileUpload" parameterType="Query">
        select * from file_upload
        order by id desc
    </select>
    <select id="findCount" resultType="java.lang.Long" parameterType="Query">
        select count(*) from file_upload
        where 1=1
    </select>
    <select id="findAllName" resultType="java.lang.Object" parameterType="Query">
        select id, name from file_upload
        order by name
    </select>
    <select id="findAll" resultType="FileUpload">
        select * from file_upload order by name
    </select>
    <select id="findOne" resultType="FileUpload">
        select * from file_upload where id=#{id}
    </select>
    <delete id="delete">
        DELETE from file_upload where id=#{id}
    </delete>
</mapper>