<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jones.tank.repository.UserMapper" >
    <insert id="insert" parameterType="User">
        insert into user(`mobile`, `user_type`
        , `create_time`, `update_time`
        <if test="password != null and password !=''">
        , `password`
        </if>
        <if test="openid != null and openid !=''">
            , `openid`
        </if>
        <if test="weprogramSessionKey != null and weprogramSessionKey !=''">
            , `weprogram_session_key`
        </if>
        )
        values(#{mobile}, #{userType}, now(), now()
        <if test="password != null and password !=''">
        , #{password}
        </if>
        <if test="openid != null and openid !=''">
            , #{openid}
        </if>
        <if test="weprogramSessionKey != null and weprogramSessionKey !=''">
            , #{weprogramSessionKey}
        </if>
        )
    </insert>
    <update id="update" parameterType="User">
        update user set user_id=#{userId}, verify_code=null
        <if test="userType != null and userType !=''">
            ,user_type = #{userType}
        </if>
        <if test="password != null and password !=''">
            ,password = #{password}
        </if>
        <if test="verifyCode != null and verifyCode !=''">
            ,verify_code = #{verifyCode}
        </if>
        <if test="ip != null and ip !=''">
            ,ip = #{ip}
        </if>
        <if test="lastLoginTime != null">
            ,last_login_time = #{lastLoginTime}
        </if>
        <if test="unionid != null and unionid !=''">
            ,unionid = #{unionid}
        </if>
        <if test="openid != null and openid !=''">
            ,openid = #{openid}
        </if>
        <if test="password != null and password !=''">
            ,password = #{password}
        </if>
        <if test="weprogramSessionKey != null and weprogramSessionKey !=''">
            ,weprogram_session_key = #{weprogramSessionKey}
        </if>
        where user_id=#{userId}
    </update>
    <update id="updateByMobile" parameterType="java.util.Map">
        update user set mobile=#{mobile}, verify_code=null
        <if test="unionid != null and unionid !=''">
            ,unionid = #{unionid}
        </if>
        <if test="openid != null and openid !=''">
            ,openid = #{openid}
        </if>
        <if test="password != null and password !=''">
            ,password = #{password}
        </if>
        where mobile=#{mobile}
    </update>
    <select id="findList" resultType="User" parameterType="Query">
        <include refid="com.jones.tank.repository.CommonMapper.startPage" />
        select u.user_id, u.mobile,u.status,u.last_login_time,u.user_type, u.ip,u.openid, u.unionid from user u
        where u.deleted=0
        <if test="verifyCode != null and verifyCode !=''">
            and u.verify_code = #{verifyCode}
        </if>
        <if test="password != null and password !=''">
            and u.password = #{password}
        </if>
        <if test="mobile != null and mobile !=''">
            and u.mobile = #{mobile}
        </if>
        <if test="openid != null and openid !=''">
            and u.openid = #{openid}
        </if>
        order by u.user_id desc
        <include refid="com.jones.tank.repository.CommonMapper.endPage" />
    </select>
    <select id="findCount" resultType="java.lang.Long" parameterType="Query">
        select count(1) from `user` u
        where deleted=0
        <if test="verifyCode != null and verifyCode !=''">
            and u.verify_code = #{verifyCode}
        </if>
        <if test="password != null and password !=''">
            and u.password = #{password}
        </if>
        <if test="mobile != null and mobile !=''">
            and u.mobile = #{mobile}
        </if>
        <if test="openid != null and openid !=''">
            and u.openid = #{openid}
        </if>
    </select>
    <select id="findAll" resultType="User">
        select * from user
        where deleted=0
        order by user_id
    </select>
    <select id="findOneByMobile" resultType="User">
        select * from user where mobile=#{mobile}
    </select>
    <select id="findById" resultType="User">
        select * from user where user_id=#{userId}
    </select>
    <update id="delete">
        update user set deleted=1 where user_id=#{userId}
    </update>
</mapper>